APP_ENVIRONMENT=development
API_PORT=8000
DEPENDENCY_TIMEOUT_SECONDS=2

POSTGRES_DB=vbehub
POSTGRES_ADMIN_USER=vbehub_admin
POSTGRES_ADMIN_PASSWORD=replace_for_local_use
POSTGRES_APP_USER=vbehub_app
POSTGRES_APP_PASSWORD=replace_for_local_use
